{%
  assign pageUrlWithoutIndex = page.url
    | replace: '/index', ''
%}

{%
  assign matchingPages = site.pages
    | where_exp: "page", "
      page.id contains include.path
    "
    | sort: "order"
    | sort: "parent.order"
%}

<ul class="TreeMenu-items">
  {% for matchingPage in matchingPages %}
    {%
      assign pathWithoutIndex = matchingPage.id
        | replace: '/index', ''
    %}

    {% if pathWithoutIndex == include.path %}
      {% continue %}
    {% endif %}

    {%
      assign numChildren = site.pages
        | where_exp: "page", "
          page.id contains pathWithoutIndex
        "
        | size
    %}

    {% assign depth = matchingPage.id | split: '/' | size %}

    {%
      assign depthWithoutReadme = pathWithoutIndex
        | split: '/'
        | size
    %}

    {%
      assign targetDepth = include.path
        | split: '/'
        | size
        | plus: 1
    %}

    {% if depth == targetDepth or depthWithoutReadme == targetDepth and numChildren == 1 %}
      <li
        class="
          TreeMenu-item
          {% if pageUrlWithoutIndex == pathWithoutIndex %}is-active{% endif %}
        "
      >
        <a class="TreeMenu-button" href="{{ pathWithoutIndex }}">
          {% if matchingPage.parent.title %}
            {{ matchingPage.parent.title }}
          {% else %}
            {{ matchingPage.title }}
          {% endif %}
        </a>
      </li>
    {% elsif depthWithoutReadme == targetDepth %}
      <li
        class="
          TreeMenu-item
          js-tree-menu-parent-item
          has-children
          {% if page.url contains pathWithoutIndex %}is-active{% endif %}
        "
      >
        <a
          class="TreeMenu-button js-tree-menu-toggle-button"
          href="{{ pathWithoutIndex }}"
        >
          {% if matchingPage.parent.title %}
            {{ matchingPage.parent.title }}
          {% else %}
            {{ matchingPage.title }}
          {% endif %}
        </a>

        {% include nav.html path=pathWithoutIndex %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
