{% assign lastSixCharsOfPageUrl = page.url | slice: -6, 6 %}

{% if lastSixCharsOfPageUrl == '/index' %}
  {% assign lengthOfPageUrlWithoutIndex = page.url | size | minus: 6 %}
  {% assign pageUrlWithoutIndex = page.url | slice: 0, lengthOfPageUrlWithoutIndex %}
{% else %}
  {% assign pageUrlWithoutIndex = page.url %}
{% endif %}

{%
  assign matchingPages = site.pages
    | where_exp: "page", "
      page.id contains include.path
    "
    | sort: "order"
    | sort: "parent.order"
%}

<ul class="TreeMenu-items">
  {% for matchingPage in matchingPages %}
    {% assign lastSixCharsOfPath = matchingPage.id | slice: -6, 6 %}

    {% if lastSixCharsOfPath == '/index' %}
      {% assign lengthOfPathWithoutIndex = matchingPage.id | size | minus: 6 %}
      {% assign pathWithoutIndex = matchingPage.id | slice: 0, lengthOfPathWithoutIndex %}
    {% else %}
      {% assign pathWithoutIndex = matchingPage.id %}
    {% endif %}

    {% if pathWithoutIndex == include.path %}
      {% continue %}
    {% endif %}

    {%
      assign numChildren = site.pages
        | where_exp: "page", "
          page.id contains pathWithoutIndex
        "
        | size
    %}

    {% assign depth = matchingPage.id | split: '/' | size %}

    {%
      assign depthWithoutReadme = pathWithoutIndex
        | split: '/'
        | size
    %}

    {%
      assign targetDepth = include.path
        | split: '/'
        | size
        | plus: 1
    %}

    {% if depth == targetDepth or depthWithoutReadme == targetDepth and numChildren == 1 %}
      <li
        class="
          TreeMenu-item
          {% if pageUrlWithoutIndex == pathWithoutIndex %}is-active{% endif %}
        "
      >
        <a class="TreeMenu-button" href="{{ pathWithoutIndex }}">
          {% if matchingPage.parent.title %}
            {{ matchingPage.parent.title }}
          {% else %}
            {{ matchingPage.title }}
          {% endif %}
        </a>
      </li>
    {% elsif depthWithoutReadme == targetDepth %}
      <li
        class="
          TreeMenu-item
          js-tree-menu-parent-item
          has-children
          {% if page.url contains pathWithoutIndex %}is-active{% endif %}
        "
      >
        <a
          class="TreeMenu-button js-tree-menu-toggle-button"
          href="{{ pathWithoutIndex }}"
        >
          {% if matchingPage.parent.title %}
            {{ matchingPage.parent.title }}
          {% else %}
            {{ matchingPage.title }}
          {% endif %}
        </a>

        {% include nav.html path=pathWithoutIndex isSubLevel=true %}
      </li>
    {% endif %}
  {% endfor %}
  {% if include.isSubLevel != true  %}
    <li class="TreeMenu-item js-tree-menu-parent-item">
      <a class="TreeMenu-button js-tree-menu-toggle-button" href="{{ include.path }}/rpc">RPC</a>
    </li>
  {% endif %}
</ul>
