{% assign firstPage = include.children[0] %}

<li
  class="
    TreeMenu-item
    {% if children.size > 1 %}
      has-children
    {% endif %}
  "
>
  <a
    class="
      {% if children.size > 1 %}
        TreeMenu-toggleButton
        js-tree-menu-toggle-button
      {% else %}
        TreeMenu-button
      {% endif %}
    "
    href="{{ firstPage.url }}"
  >
    {{ firstPage.title }}
    ({{ include.children | size }})
  </a>
  
  {% if include.children.size > 1 %}
    <ul class="TreeMenu-items">
      {%
        include tree-menu-items.html
        items=children
      %}
    </ul>
  {% endif %}
</li>