{%- assign urlParts = page.url | replace_first: "/", "" | split: "/" -%}
{%- if urlParts[0] == "index" or urlParts[0] == "404.html" -%}
  {%- assign currentVersion = site.data.default_version.output_path -%}
{%- else -%}
  {%- assign currentVersion = urlParts[0] -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>{{ site.title }} - {{ page.title }} - {{ currentVersion }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&family=Inter&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
    <script src="https://kit.fontawesome.com/401fb1e734.js" crossorigin="anonymous"></script>
    <script src="/assets/js/navigation.js"></script>
    <script src="/assets/js/search.js"></script>
  </head>

  <body>
    <div class="GridLayout">
      <header class="SiteHeader js-sticky-site-header">
        <div class="SiteHeader-content">
          <div class="SiteHeader-logo">
            <h1 class="SiteHeader-logoText">
              <a class="SiteHeader-logoLink" href="/{{ currentVersion }}/">
                <img src="/assets/images/logo.svg" alt="CometBFT Logo" height="40" />
              </a>
            </h1>

            {% if urlParts[0] != "404.html" %}
              <label class="VersionMenu-wrapper">
                <select class="VersionMenu js-version-menu" name="version">
                  <optgroup label="Versions">
                    {% for version in site.data.versions %}
                      {% if version.visible %}
                        <option
                          value="{{ version.output_path }}"
                          {% if version.output_path == currentVersion %} selected{% endif %}
                        >
                          {{ version.output_path }}
                        </option>
                      {% endif %}
                    {% endfor %}
                  </optgroup>
                </select>
              </label>
            {% endif %}
          </div>

          <div class="SiteSearch">
            <div class="SiteSearch-inputWrapper">
              <input
                class="SiteSearch-input js-search-input"
                placeholder="Search..."
                type="search" />
            </div>

            <ul class="SiteSearch-results js-search-results"></ul>
          </div>
        </div>
      </header>

      <nav class="LeftNav">
        <div class="LeftNav-content">
          {% assign pathToCurrentVersion = currentVersion | prepend: "/" %}

          {%
            include nav.html
              path=pathToCurrentVersion
          %}
        </div>
      </nav>

      <aside class="RightNav">
        <div class="RightNav-content">
          {% capture TableOfContents %}
            {% include toc.html
              html = content
              class = "TableOfContents-items"
              item_class = "TableOfContents-item"
              anchor_class = "TableOfContents-button js-toc-button"
              submenu_class = "TableOfContents-subItems"
              h_min = 2
            %}
          {% endcapture %}

          {% assign TrimmedTableOfContents = TableOfContents | strip %}

          {% if TrimmedTableOfContents != "" %}
            <h2 class="TableOfContents-title">On This Page</h2>

            {{ TableOfContents }}
          {% endif %}
        </div>
      </aside>

      <div class="PageContent">
        {{
          content
            | replace: ':rocket:', '<i class="fa fal fa-rocket"></i>'
            | replace: ':skull:', '<i class="fa fal fa-skull"></i>'
            | replace: ':sparkles:', '<i class="fa fal fa-sparkles"></i>'
            | replace: ':warning:', '<i class="fa fal fa-warning"></i>'
            | replace: '<table>', '<div class="Table-wrapper"><table>'
            | replace: '</table>', '</table></div>'
            | replace: ' href="http', ' target="_blank" href="http'
        }}
      </div>

      <footer class="SiteFooter">
        <div>
          &copy; {{ "now" | date: "%Y" }} CometBFT
        </div>
      </footer>
    </div>

    <img class="DecorativeOrb" src="/assets/images/orb-top-left.svg" alt="Decorative Orb" />
  </body>
</html>
