{%- capture allPageVersionNumbers -%}
  {%- for page in site.pages -%}
    {{- page.id | split: '/' | slice: 1 -}}
    {%- unless forloop.last -%},{%- endunless -%}
  {%- endfor -%}
{%- endcapture -%}

{% assign versions = allPageVersionNumbers | split: ',' | uniq %}

{% assign urlPieces = page.url | replace_first: "/", "" | split: "/" %}

{% assign currentVersion = urlPieces[0] | default: 'v0.34' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>{{ site.title }} - {{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Inter:wght@300;700&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/401fb1e734.js" crossorigin="anonymous"></script>
    <script src="/assets/js/navigation.js"></script>
    <script src="/assets/js/search.js"></script>
  </head>

  <body>
    <div class="GridLayout">
      <header class="SiteHeader js-sticky-site-header">
        <div class="SiteHeader-content">
          <div class="SiteHeader-logo">
            <h1 class="SiteHeader-logoText">
              <a href="/">CometBFT</a>
            </h1>

            <select class="VersionMenu js-version-menu" name="version">
              <optgroup label="Versions">
                {% for version in versions %}
                  {% if version != "main" %}
                    <option
                      value="{{ version }}"
                      {% if version == currentVersion %} selected{% endif %}
                    >
                      {{ version }}
                    </option>
                  {% endif %}
                {% endfor %}
              </optgroup>
            </select>
          </div>

          <div class="SiteSearch">
            <div class="SiteSearch-inputWrapper">
              <input
                class="js-search-input"
                placeholder="Search..."
                type="search" />
            </div>

            <ul class="SiteSearch-results js-search-results"></ul>
          </div>
        </div>
      </header>

      <nav class="LeftNav">
        <div class="LeftNav-content">
          {% assign pathToCurrentVersion = currentVersion | prepend: "/" %}

          {%
            include nav.html
              path=pathToCurrentVersion
          %}
        </div>
      </nav>

      <aside class="RightNav">
        <div class="RightNav-content">
          {% capture TableOfContents %}
            {% include toc.html
              html = content
              class = "TableOfContents-items"
              item_class = "TableOfContents-item"
              anchor_class = "TableOfContents-button js-toc-button"
              submenu_class = "TableOfContents-subItems"
              h_min = 2
            %}
          {% endcapture %}

          {% assign TrimmedTableOfContents = TableOfContents | strip %}

          {% if TrimmedTableOfContents != "" %}
            <h2 class="TableOfContents-title">On This Page</h2>

            {{ TableOfContents }}
          {% endif %}
        </div>
      </aside>

      <div class="PageContent">
        {{
          content
            | replace: ':rocket:', '<i class="fa fal fa-rocket"></i>'
            | replace: ':skull:', '<i class="fa fal fa-skull"></i>'
            | replace: ':sparkles:', '<i class="fa fal fa-sparkles"></i>'
            | replace: ':warning:', '<i class="fa fal fa-warning"></i>'
            | replace: '<table>', '<div class="Table-wrapper"><table>'
            | replace: '</table>', '</table></div>'
            | replace: ' href="http', ' target="_blank" href="http'
        }}
      </main>

      <footer class="SiteFooter">
        <div>
          &copy; {{ "now" | date: "%Y" }} CometBFT
        </div>
      </footer>
    </div>
  </body>
</html>
